/* .........................
            Body
............................ */

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px;
    height: 580px;
    border-radius: 30px;
    background-color: black;
}

.body {
    padding-top: 20px;
}

.player {
    width: 100%;
}

.player img {
    height: 100%;
}

.player-info {
    text-align: center;
    margin: 20px;
    width: 100%;
    padding-top: 30px;
}

.player-info h1 {
    font-size: 20px;
    text-align: left;
    padding: 10px;
    color: chartreuse;
    font-weight: bolder;
}

.player-info p {
    font-size: 15px;
    text-align: left;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.btn-info {
    text-align: left;
    padding-top: 10px;
    padding: 10px;
}

.btn-btn {
    width: 120px;
    height: 50px;
    text-align: center;
    background-color: rgb(210, 143, 55);
    border-radius: 8px;
    font-weight: bold;
    font-size: 10px;
}

.blogs-container {
    display: grid;
    grid-template-columns: (1fr, 3fr);
    grid-gap: 30px;
}

.blogs-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    margin: 50px;
}

.blogs-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.border {
    border: 2px solid black;
}

.details {
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
}

.icon-details {
    padding-right: 10px;
    font-weight: 500;
}

.icon-info {
    font-weight: 500;
}

.icon {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 150px;
}

.blog {
    border: 1px solid;
    border-radius: 15px;
}

.btn-color {
    padding-left: 20px;
}

.btn-group {
    width: 150px;
    height: 35px;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
}

.btn-section {
    width: 150px;
    height: 35px;
    background-color: red;
    font-weight: bold;
    font-size: 15px;
}

.details-container {
    background-color: rgb(28, 26, 26);
    border-radius: 10px;
    height: 380px;
    width: 350px;
}

.details-info {
    padding: 20px;
    text-align: center;
    margin: 30px;
}

.footer-section {
    background-color: black;
    padding: 80px;
}

.footer-section h1 {
    font-size: 3s0px;
    text-align: center;
    font-weight: bold;
    color: white;
    padding-bottom: 40px;
}

.blogs-details {
    padding-bottom: 50px;
}

.link {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.link a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}


/* .............................
Responsive for Mobile Phone
................................ */

@media only screen and (max-width: 580px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-right: 20px;
        background-color: black;
    }
    .blogs-details {
        padding-top: 50px;
    }
    .blogs-container {
        display: grid;
        grid-template-columns: 1fr, 1fr;
        padding-top: 50px;
    }
    .blogs-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .blogs-info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 60px;
        width: 100%;
    }
    .blog img {
        width: 100%;
    }
    .details-container {
        width: 100%;
    }
    .player img {
        height: 70%;
    }
    .player {
        text-align: center;
    }
}


/*..........................
 Resposive for Desktop
 ........................... */

@media only screen and (min-width:581px) and (max: 950px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-right: 40px;
    }
    .blogs-container {
        display: grid;
        grid-template-columns: repeat(2fr, 1fr);
        justify-content: baseline;
    }
    .blogs-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .details-container {
        display: grid;
    }
    .blogs-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-section .link {
        display: flex;
        flex-direction: column;
    }
}